{% extends 'core/base.html' %}
{% block title %}
<title>faculty login</title>

{% endblock title %}
{% load static %}
{% block content %}

{% include 'core/navbar.html' with p=mynavbar %}

<div class="container mt-2  text-center">
    <img src="{% static 'img/seal.jfif' %}" alt="" class="img-fluid mt-1">
    <form action="" class="text-center" method="post">
  {% csrf_token %}
 
  <div class="container" style="margin-top:2px; width:300px;">
    <p>
        <label for="essn" class="alert-info">Essn</label>
  </p>
   <p>
        <input type="text" id='essn' class='form-control' placeholder='Essn number' name='essn' required>
    </p>
  
    <p>
      <label for="password" class='alert-info'>Password</label>
  
  </p>
  <p>
      <input type="password" id='password' class='form-control' placeholder='password' name='password' required>
  </p>
  <p>
      <label for="ishod">Hod Login</label>
      <input type="checkbox" name='ishod' id='ishod'>
  </p>
      <input type="submit" value='Log in' class='btn btn-success'>
  </div>

    </form>
</div>

{% endblock content %}