{% extends 'core/base.html' %}
{% block title %}

<title>Faculty </title>

 {% endblock title %}

 {% load static %}

{% block link %}
  
<link rel="stylesheet" href="{% static 'Faculty/css/teacherview.css' %}">

{% endblock link %}

{% block content %}

{% include 'core/navbar.html' with p=mynavbar%}

<div class="container-fluid mkbg" >

{% if teacherdata %}

{% for i in teacherdata %}

    <img src="{% static i.fimg %}" alt="img" class="img-fluid propic">

 

{% endfor %}

{% endif %}
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">

            {% if teacherdata %}

{% for i in teacherdata %}

<h1 class="mt-2 text-dark">
 {{i.fname}} {{i.lname}}  {% if i.isverified %}
 <i class="fas fa-check-circle" style="color : rgba(0,100,255,1)" title ='Verified Account'>
 {% endif %} </i>
 <br>
<span class="mt-2 text-primary">{{i.degree}}  </span>

</h1>

<h3 class="mt-2 text-secondary"> Essn : {{i.essn}}</h3>
<h3 class="text-dark">{{i.department.department}}</h3>
<a href="mailto:{{i.email}}">{{i.email}}</a>
<hr class="text-dark">

{% if i.isverified %}


{% if subject %}
<h1 class="text-dark alert-info text-center">Your Subjects</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Section</th>
        <th scope="col">Sem</th>
        <th scope="col">Assignment</th>
      
      </tr>
    </thead>
    <tbody>
     
{% for i in subject %}
<tr>
    <th scope="row">{{i.subject}}</th>
    <td>{{i.section}}</td>
    <td>{{i.sem}}</td>
    <td>
        <a href="/faculty/classwork/assignment/{{i.subject}}/{{i.section}}/{{i.sem}}/{{i.id}}/" class="btn btn-success">Assignments</a>
    </td>


  </tr>


{% endfor %}
</tbody>
</table>
{% else %}
<h1 class="text-dark alert-info text-center">No Subjects Assigned Yet</h1>
{% endif %}

{% else %}
<h4 class="text dark alert-warning">
    Your account has not been verified by HOD of {{i.department.department}}
</h4>
{% endif %}




{% endfor %}

{% endif %}
         



        </div>

        <div class="col-sm-4 text-center">
            <img src="{% static 'img/seal.jfif' %}" alt="" class="img-fluid mt-1 ">
            <h5 class="text-center element">Sea College Of Engineering And Technology</h5>
            <hr class="text-primary">
            {% for i in teacherdata %}
           <h6 class="text-center text-dark"> HOD : {{i.department.fname}} {{i.department.lname}}</h6>
           <h6 class="text-center text-dark"> ({{i.department.department}})</h6>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}


