{% extends 'core/base.html' %}
{% load static %}
{% block title %}
{{block.super}}
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock link %}

{% block content %}
{% include 'core/navbar.html' with p=mynavbar %}

<div class="container-fluid mainSea text-center">

    <img src="{% static 'img/seal.jfif'%}" alt="" class="img-fluid text-center mt-2">
    <h1 class="seaTExt bg-light text-dark ">SEA COLLEGE OF ENGINEERING  AND <span style="color: red; ">TECHNOLOGY </span></h1>
    <h1 class="seaTExt  element"></h1>
    

</div>

<div class="container mt-4 text-center">
    <h1 class="text-center text-danger">Course Offerd</h1>
    <div class="row text-center">
        <div class="col-sm-6">
            <h3 class="bg-info text-dark text-center">Degree</h3>
            <h3 class="bg-primary text-dark text-center">Nursing</h3>
            <h3 class="bg-dark text-dark text-center text-white">Law College</h3>
            <h3 class="bg-light text-dark text-center">Evening College</h3>
            <h3 class="bg-danger text-dark text-center">Composite Pre-University</h3>
            <h3 class="bg-info text-dark text-center">ITI</h3>
            <h3 class="bg-warning text-dark text-center">International School (ICSE)</h3>
          
        </div>
        <div class="col-sm-6">
            <h3 class="bg-info text-dark text-center">B.Sc,B.A,BBM,B.com,BCA,M.com</h3>
            <h3 class="bg-primary text-dark text-center">M.Sc Nursing</h3>
            <h3 class="bg-dark text-dark text-center text-white">B.A LLB,BBA LLB</h3>
            <h3 class="bg-light text-dark text-center">B.A B.Com</h3>
            <h3 class="bg-danger text-dark text-center"> P.U</h3>
            <h3 class="bg-info text-dark text-center">Fitter,Electronic</h3>
            <h3 class="bg-warning text-dark text-center">Nursery to 10th Std</h3>
            
        </div>
    </div>
</div>

<div class="container-fluid " style="padding: 5px; background-color: black;">
    <h3 class="text-danger text-center mt-2">Sea College Of Engineering And Technology</h3>
    <h4 class="text-primary text-center mt-2">Ektanagar, Basavanapura Virgonagar Post, Bangalore -560 049. India</h4>
    <h4 class="text-primary text-center mt-2">email : <a href="mailto:seaeduinfo@seaedu.ac.in">seaeduinfo@seaedu.ac.in</a> Website : <a href="http://www.seaedu.ac.in"> www.seaedu.ac.in</a><h4>
    <h4 class="text-primary text-center mt-2">Telephone : <a href="tel:+08029730681">080-29730681</a><h4>
</div>
{% endblock content %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed('.element', {
        strings: ["Progress Through Quality Education", "Progress Through Quality Education"],
        typeSpeed: 30,
  
     
        backDelay: 1000,
        startDelay: 1000,
        loop: true,
      });
      
</script>
{% endblock script %}